<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenest_Movie::Movie" title="Movies" module="Magenest_Movie" sortOrder="51" resource="Magenest_Movie::Movie"/>

        <add id="Magenest_Movie::director" title="Director" module="Magenest_Movie" sortOrder="10" action="magenest_movie/director" resource="Magenest_Movie::director" parent="Magenest_Movie::Movie"/>

        <add id="Magenest_Movie::movie" title="Movie" module="Magenest_Movie" sortOrder="10" action="magenest_movie/movie" resource="Magenest_Movie::movie" parent="Magenest_Movie::Movie"/>

        <add id="Magenest_Movie::actor" title="Actor" module="Magenest_Movie" sortOrder="10" action="magenest_movie/actor" resource="Magenest_Movie::actor" parent="Magenest_Movie::Movie"/>
    </menu>
</config>

