<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="10">
            <label>Magenest</label>
        </tab>
        <section id="movie" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Movie</label>
            <tab>magenest</tab>
            <resource>Magenest_Movie::movie_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Magenest Configuration</label>
                <field id="display_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Text Field</label>
                </field>
                <field id="enable_yes_no" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label><![CDATA[<span>Yes/No_Field_</span><span class="colorRed">abcd</span>]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>


                <field id="allow" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0">
                    <label>Custom Select Field</label>
                    <source_model>Magenest\Movie\Model\Config\Source\Options</source_model>
                </field>

                <field id="rows_table_movie" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="0">
                    <label>Rows in table “magenest_movie”</label>
                    <frontend_model>Magenest\Movie\Block\Adminhtml\System\Config\RowsMovie</frontend_model>
                </field>
                <field id="rows_table_actor" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="0">
                    <label>Rows in table “magenest_actor”</label>
                    <frontend_model>Magenest\Movie\Block\Adminhtml\System\Config\RowsActor</frontend_model>
                    <depends>
                        <field id="allow">1</field>
                    </depends>
                </field>

                <field id="coupon" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0">
                    <label>Coupon</label>
                    <source_model>Magenest\Movie\Model\Config\Source\Options</source_model>
                </field>

                <field id="button_reload" translate="label comment" type="button" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <frontend_model>Magenest\Movie\Block\Adminhtml\System\Config\Form\Button</frontend_model>
                </field>
            </group>


        </section>

        <section id="colorheader" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1">
            <class>magenest</class>
            <label>Color</label>
            <tab>magenest</tab>
            <resource>Magenest_Movie::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Setup</label>
                <attribute type="expanded">1</attribute>
                <field id="coloroption" translate="label comment" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Color Option</label>
                    <frontend_model>Magenest\Movie\Block\Adminhtml\Form\Field\Ranges</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
        <section id="buynow" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>magenest</class>
            <label>Buy Now</label>
            <tab>magenest</tab>
            <resource>Magenest_Movie::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="keep_cart_products" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Keep Cart's Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Keep Other Cart Item(s) When Click Buy Now</comment>
                </field>
                <field id="enable_list" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable On List Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_view" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable On View Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_search" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable On Search Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_advanced_search" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable On Advanced Search Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="button_title" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Title</label>
                </field>
                <field id="addtocart_id" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Addtocart form Id</label>
                    <comment>Enter addtocart form id for product view page(Ex. product_addtocart_form). Check readme for more details.</comment>
                </field>
                <field id="custom_buynow_button_code" type="textarea" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1">
                    <frontend_model>Magenest\Movie\Block\Adminhtml\System\Config\Field\Disable</frontend_model>
                    <label>Custom Buy Now Button Code</label>
                    <comment><![CDATA[Change <b>$_item</b>  to current product object. This code generates buy now button with new form so make sure don't copy this code into any other form.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
