<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation=
    "urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::Integration"
                          title="Movies" sortOrder="60">
                </resource>
                <resource id="Magenest_Integration::menu" title="Custom Menu" sortOrder="10" >
                    <resource id="Magenest_Integration::create" title="Create" sortOrder="50" />
                    <resource id="Magenest_Integration::delete" title="Delete" sortOrder="100" />
                    <resource id="Magenest_Integration::view" title="View" sortOrder="150">
                        <resource id="Magenest_Integration::view_additional" title="View Additional Infomation" sortOrder="10"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magenest_Integration::integration_config" title="Integration Config"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
