<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <movie>
            <general>
                <display_text>I’m a text field</display_text>
                <enable_yes_no>1</enable_yes_no>
            </general>
        </movie>
        <colorheader>
            <settings>
                <coloroption>
                    <item1>
                        <color>Gray</color>
                        <color_picker>#6e716e</color_picker>
                    </item1>
                </coloroption>
            </settings>
        </colorheader>
    </default>
</config>
