<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <movie>
            <general>
                <enable>1</enable>
                <rows_table_movie>
<!--                    <frontend_model>Magenest\Movie\Block\Adminhtml\System\Config\RowsMovie</frontend_model>-->
                </rows_table_movie>
            </general>
        </movie>
    </default>
</config>
