<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_movie_director_listing_data_source" xsi:type="string">
                    Magenest\Movie\Model\ResourceModel\Director\Collection
                </item>
            </argument>
            <argument name="collections" xsi:type="array">
                <item name="magenest_movie_movie_listing_data_source" xsi:type="string">
                    Magenest\Movie\Model\ResourceModel\Movie\Collection
                </item>
            </argument>
            <argument name="collections" xsi:type="array">
                <item name="magenest_movie_actor_listing_data_source" xsi:type="string">
                    Magenest\Movie\Model\ResourceModel\Actor\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magenest\Movie\Model\ResourceModel\Director\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_director</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Director</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magenest\Movie\Model\ResourceModel\Movie\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_movie</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Movie</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magenest\Movie\Model\ResourceModel\Actor\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_actor</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Actor</argument>
        </arguments>
    </virtualType>
</config>
