<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_before">
        <observer name="magenest_movie_default_firstname_customer" instance="Magenest\Movie\Observer\DefaultFirstNameCustomer" />
    </event>

    <event name="magenest_movie_save_before">
        <observer name="magenest_movie_default_rating_movie" instance="Magenest\Movie\Observer\DefaultRatingMovie" />
    </event>
</config>
